.signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(210, 184, 232);
  padding: 30px;
  width: 500px;
  border-radius: 30px;
}

.signupText{
  text-align: left;
}

.signupTextBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.signupBtn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}


.signup div {
  margin-top: 7px;
}
